form{
    width: 50%;
    margin-top:10%;
}
.bk-btn{
    background-color: var(--primary-color);
    color: #fff;
}
.order-btn{
    background-color: var(--primary-color);
    color:#fff;
}
img{
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    
}
.ft-size{
    font-size:20px;
    font-weight:bold;
}